.header
  .menu-toggle.header-item
    button type="button"
      span.line
      span.line
      span.line

  .nbMines.header-item 0
  .time.header-item 00:00

  .difficulty-header
    .difficulty
      | Difficulty:
      span
        | Medium

  .author.header-item
    span CJ's MINESWEEPER
    .version v1.1 Beta
