* {
  margin:0;
  padding:0;
}
#ms {
  width: 600px;
  height: 600px;
  margin: auto;
}
.tiles {
    clear:both;
    display:table;
    border-collapse: collapse;
    position: relative;
}
.tiles .row {
    display:table-row;
}
.tiles .row .tile {
    display: table-cell;
    background:#BBB;
    border:solid 1px #000;
    vertical-align: middle;
    text-align: center;
    cursor:pointer;
}
.tiles .row .tile:hover {
    background:#CCC;
}
.tiles .row .tile:active {
    background:#AAA;
}
.tiles .row .tile.revealed {
    background:#DDD;
}
.tiles .row .tile.flagged {
    background:orange;
}
.tiles .row .tile.exploding {
    background:url("../../assets/images/explosion.gif") no-repeat 50% #000;
}
.tiles .row .tile.exploded {
    background:red;
}

.header {
    display: table;
    width:100%;
    padding:10px 0;
}
.header > .header-item {
    display: table-cell;
    vertical-align: middle;
}
.header .title {
    font-size:20px;
    padding:10px 0;
}
.header .menu-toggle button {
    border:none;
    background:none;
/*    position:relative;
    top:6px;*/
    cursor:pointer;
    outline:none;
}
.header .menu-toggle .line {
    display:block;
    background-color:black;
    width:25px;
    height:4px;
    margin-top:4px;
    border-radius: 8px;
}
.header .version {
    font-size:11px;
}
.header .author {
    text-align: right;
}
.header .nbMines {
    background:url("../../assets/images/nb_mines.png") no-repeat 0 50%;
    padding-left:45px;
    font-size:22px;
}
.header .time {
    background:url("../../assets/images/clock.png") no-repeat 0 50%;
    padding-left:35px;
    font-size:22px;
}

.menu {
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:#FFF;
}
.menu:before {
    content:"";
    z-index:-1;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
}
.menu h2 {
    text-align: center;
    padding:20px;
}
.menu .options, .menu .scores {
    width:48%;
    float:left;
}
.menu .options fieldset {
    margin-left:25px;
    padding:0 10px;
}
.menu .options fieldset legend {
    padding:5px 10px;
    font-weight: bold;
}
.menu .options fieldset .option {
    padding:10px;
}

.menu .scores {
    margin-left:4%;
}


button::-moz-focus-inner {
    border: 0;
}